<div id = 'unprocess_panel' class="panel panel-default">
  <div class="panel-heading summaryinfo row">
    <div class = "col-xs-4">
    <span style="font-weight:bold;">订单编号:</strong>
    <span class="orderID"><%= order.orderID %></span>
    </div>
    <div class = "col-xs-4">
      <span class="order_date">下单时间:</span>
      <span style="font-weight:bold;"><%= order.date %> </span>
    </div>
    <div class="col-xs-4 text_right">
        <strong>订单状态：</strong>
        <span class="label label-warning form_state">未处理</span>
        <span class="label label-default form_state"><%= order.isFirst ? "首次下单" : "非首次下单"%></span>
    </div>
  </div>

      <!--
      <div class="panel-body">
      </div>
      -->

  <div class="row">
      <div class="col-xs-9 col-md-6" style="margin-right:0px">
          <ul class="list-group">
            <li class="list-group-item list_head"><strong>顾客信息</strong></li>
            <li class="list-group-item">
              顾客姓名：
              <input class="username_input editable order_username" name="username" type="text" value="<%= order.address.name %>">
              <span class = 'inputrequired'>*必填项</span>
              <span class = 'formaterror'>*长度应小于5</span>
            </li>
            <li class="list-group-item">
              联系电话：
              <input class="username_input order_usertel" name="username" type="text" value="<%= order.address.tel %>">
              <span class = 'inputrequired'>*必填项</span>
              <span class = 'formaterror'>*格式不正确</span>
            </li>

            <li class="list-group-item">
                送酒地址：
                <span class="text_inline">阜阳市</span>
                <select  class ="order_address_area editable form-control select_inline"required aria-selected ="false" >
                    <option hidden ="hidden"></option>
                    <option selected = '<%= order.address.area == '颍州区' ? 'selected' : ''%>' value="1">颍州区</option>
                    <option selected = '<%= order.address.area == '颍泉区' ? 'selected' : ''%>' value="2">颍泉区</option>
                    <option selected = '<%= order.address.area == '颍东区' ? 'selected' : ''%>' value="3">颍东区</option>
                </select><span class = 'inputrequired'>*必选项</span>
                <textarea   class ="order_address_detail editable form-control" style="height:35px"><%= order.address.detail %></textarea>
                <span class = 'inputrequired'>*必填项</span>
                <span class = 'formaterror'>*长度应小于50</span>
            </li>
            <li class="list-group-item">
              备注：
              <span class = 'formaterror'>*长度应小于50</span>
              <textarea  class ="form-control editable order_note" ><%= order.notes %></textarea>
            </li>
          </ul>
      </div>    <!-- User Info Ends-->

      <!-- Following show Commodity Info-->

      <div class="col-xs-9 col-md-6">
          <ul class="list-group">
            <li class="list-group-item list_head"><strong>酒水信息</strong></li>

            <!-- Table to show specific wine info-->

            <table class="table table-bordered" style="margin-bottom:0px;">
                <thead class="table_text">
                  <tr>
                      <th>酒种类</th>
                      <th>单价</th>
                      <th>数量</th>
                  </tr>
                </thead>
                <tbody class="table_text">
                <%for(var i = 0;i < order.shopOnce.length;i++){%>
                  <tr>
                      <th><%= order.shopOnce[i].describe %></th>
                      <th><%= order.shopOnce[i].wechatPrice %></th>
                      <th><%= order.shopOnce[i].number %></th>
                  </tr>
                <%}%>
                </tbody>
            </table>

            <li class="list-group-item" style="margin-top:0px;">
              <strong>需付现金：</strong><span><b><%= order.cashNeeded %></b></span>
              <span style="padding-left:10px">(总价：</span><span><%= order.cashTotal %></span>
              <span>, 现金券：</span><span><%= order.coupon %></span><span></span>,代金券：</span><span><%= order.voucher %></span><span>)</span>
            <li class="list-group-item">
                  选择快递点：<span class = 'inputrequired'>*必选项</span>
                  <select  class ="form-control editable order_dispatch" required aria-selected ="false" >
                    <option hidden ="hidden"></option>
                    <% for(var i = 0;i < alldispatches.length;i++){%>
                    <option><%=alldispatches[i]%></option>
                    <%}%>
                  </select>
            </li>
          </ul>
      </div>    <!-- Commodity Info Ends-->
  </div>  <!-- row ends-->

  <!-- Submit buttons -->

  <div style="" class="well submit_div">
    <div class="center">
      <button id="unprocess_order_confirm" class="btn btn-lg btn-success button_margin button_check" type="button" >确认</button>
      <button class="btn btn-lg btn-danger button_margin" data-toggle="modal" data-target="#unprocess_alert_delete">删除</button>
      <button class="btn btn-lg btn-default button_margin" id="unprocess_order_wait" type="button">稍后处理</button>

    </div>
  </div>  <!-- Submit buttons ends-->

</div>   <!-- Panel: Form Info Ends-->

<!-- Alert when delete-->


<!-- 模态框（Modal） 点击删除键弹出的框-->
<div class="modal fade" id="unprocess_alert_delete" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#E8A35A;">
                <button type="button" class="close"
                   data-dismiss="modal" aria-hidden="true">
                      &times;
                </button>
                <h4 class="modal-title" class="myModalLabel" style="text-align:center;">
                  <span class="alert_text">订单详情</span>
                </h4>
            </div> <!-- modal header ends-->

            <div class="modal-body">
                <div class="reason_radios" style="padding-left:25px; padding-top:0px;">
                      <h4 style="padding-bottom:10px;"><strong>删除订单原因：</strong></h4>
                      <span class = 'inputrequired'>*必填项</span>
                      <label class="radio" style = 'padding-left:50px'>
                        <input class = 'editable delete_info'type="radio" name="reasonoRadios" value="联系方式错误"/>
                        联系方式错误
                      </label>
                      <label class="radio" style = 'padding-left:50px'>
                        <input class = 'editable delete_info' type="radio" name="reasonoRadios" value="用户取消订单" />
                        用户取消订单
                      </label>
                      <p style="padding-top:8px;">
                        <h4><strong>其他信息：</strong></h4>
                        <textarea class ="editable form-control delete_info delete_note"></textarea>
                      </p>
                </div>
            </div> <!-- modal body ends-->

            <div class="modal-footer">
                <button class="btn btn-lg btn-danger" type="button" id ='unprocess_order_delete_confirm'>确认删除</button>
                <button class="btn btn-lg btn-default" type="button" data-dismiss="modal">取消</button>
            </div> <!-- modal footer ends-->
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal -->
</div>    <!-- Alert when delete Ends-->





