<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>当前订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="/js/zepto.min.js"></script>
    <style>
        html,body,div{
            padding: 0;
            margin: 0;
        }

        .content{
            padding: 10px;
        }
        .content label{
            font-size: 18px;
            color: #aaa;
        }
        .content span{
            font-size: 18px;
            color: #444;
        }
        .content select{
            width: 100%;
            height: 50px;
            font-size: 22px;
        }
        .content button {
            margin-top: 10px;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 5px;
            font-size: 21px;
            font-weight: normal;
            line-height: 1.9;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 10px;
            color: #FFFFFF;
            width : 90%;
            background-color : #0079FF;
        }
        hr{
            height: 0.5px;
            color:red;
        }
        .content .winenum{
            color: #aa0000;
        }        
    </style>
</head>
<body>
    <div class="content">
        <p>
            <label>编号：</label>
             <span><%= order.orderID %></span>
            <hr>
            <label>下单时间：</label>
             <span><%= order.date %></span>
            <hr>
            <label>订单内容：</label>
             <%for(var i=0 ;i<order.shopOnce.length;i++){%>
                <br>
                <span><%= order.shopOnce[i].describe %></span>
                <span class ="winenum">[<%=order.shopOnce[i].number%>]</span>
             <%}%>
            <hr>
            <label>需付现金：</label>
             <span><%= order.cashNeeded %></span>
            <hr>
            <label>配送地点：</label>
             <span><%= order.address.city + order.address.area + order.address
                 .detail%></span>
            <hr>
            <label>预计送达时间</label>
            <select>
                <option>请选择时间</option>
                <option>20分钟</option>
                <option>30分钟</option>
                <option>40分钟</option>
                <option>50分钟</option>
                <option>60分钟</option>
            </select>
            <center>
                <button id="start">开始配送</button>
                <button id="complete">配送完成</button>
            </center>

        </p>
    </div>
    <SCRIPT TYPE="text/javascript">
        var orderID = <%= order.orderID %> ;
        $("#start").on('tap',function(){
            var val = $("select").val();
            if(val=='请选择时间'){
                return alert("请选择预计到达时间");
            }
            $(this).attr("disabled","disabled");
            var $this = $(this);
            $.post("/orderaction",{orderID:orderID,method:"ship"},function(err,status){
                if(err){
                    $this.removeAttr("disabled","disabled");
                    return alert("通信失败，请检查网络");
                }
                if(status != 'success'){
                    $this.removeAttr("disabled","disabled");
                    return alert("通信失败！");
                }
                $this.text("已开始");
            });
        });
        $("#complete").on('tap',function(){
            var r = comfirm("确定配送完成了吗，不可更改");
            if(!r)
                return;
            $(this).attr("disabled","disabled");
            var $this = $(this);
            $.post("/orderaction",{orderID:orderID,method:"receive"},function(err,status){
                if(err){
                    $this.removeAttr("disabled","disabled");
                    return alert("通信失败，请检查网络");
                }
                if(status != 'success'){
                    $this.removeAttr("disabled","disabled");
                    return alert("通信失败！");
                }
                $this.text("已配送");
            });
        });        
    </SCRIPT>
</body>
</html>