<li class = 'order_abstract_item'>
  <a href="#">
    <div class="panel-heading form_head row">
        <div class='item-info item-orderID' style = "padding-right:0px">
          订单编号：<span class ='orderID_abstract'><%= order_abstract.orderID %></span>
        </div>
        <div class='item-info item-orderdate'>
          <span >
         <% if((order_abstract.status == 1)||(order_abstract.status == 2)||(order_abstract.status == 21)||(order_abstract.status == 22)||(order_abstract.status == 3)){ %>
          下单时间 ：<%= order_abstract.date %>
        <% }else if((order_abstract.status == 4)||(order_abstract.status == 41)||(order_abstract.status == 42)){%>
          发货时间 ：<%= order_abstract.shipDate %>
        <% }else if(order_abstract.status == 5){%>
          收货时间 ：<%= order_abstract.receiveDate %>
        <%}%>
          </span>
        </div>
        <div class='item-info item-orderstatus'>
          <strong>订单状态：</strong>
          <span class="label label-warning form_state">
            <%= order_abstract.status %>
          </span>
        </div>
        <div class="item-info">
            <strong>快递点：</strong>
            <span class="label label-warning form_state"><%= order_abstract.dispatchCenter %></span>
        </div>
    </div>
  </a>
</li>